.centered {
  margin: 0 auto;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 10px;
}

.social-media-icon-container {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  gap: 5px;
  justify-content: end;
}
