/* --- BASE STYLES --- */
header,
footer {
  height: 60px;
  width: 100vw;
  background-color: rgb(2, 21, 53);
}

header {
  position: fixed;
  top: 0;
}

main {
  min-height: calc(100vh - 120px);
  padding-top: 100px;
}

/* --- MAIN STYLES --- */

.logo {
  max-height: 100%;
}

.hero-image-container {
  width: 1000px;
}

.hero-image-container > img {
  object-fit: cover;
  max-width: 100%;
}

.cards-wrapper {
  max-width: 1000px;
  min-height: 100vh;
  padding: 20px;
}

.card {
  width: 200px;
  border: black solid 1px;
  border-radius: 15px;
}

.card > img {
  object-fit: cover;
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-bottom-container {
  padding: 20px;
}

.social-media-icon-container {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  gap: 5px;
  justify-content: end;
}

.social-media-icon-container > img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
